<div id="detail">
  {{post.explanation}}
</div>

<br>
<button class="btn btn-lg btn-primary" {{action 'delete' post}}>Delete</button>


<h2> Comments </h2>
<ul>
  {{#each post.comments as |comment|}}
    {{comment-tile comment=comment}}
  {{/each}}
</ul>
