.jumbotron{
  background-color:#CEE3F8;
  padding: 0px;
  text-align: left;
}

#redditpic{
  width: 60px;
  float: left;
  position: absolute;
  top: 2%;
  left: 3%;

  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 3px;
}
