<div class= "container">
  <link href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" >

    {{outlet}}
  <hr>
  <footer>
    <span id="overridebootstrap" class="btn btn-lg btn-primary">{{#link-to 'index'}}Home{{/link-to}}</span>
  </footer>
</div>
