<div class= "container">
  
  <img id="redditpic"src="http://www.logoeps.com/wp-content/uploads/2012/04/reddit-logo-vector-01.png" alt="">

    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'index'}}Home{{/link-to}}
  </footer>
</div>
