<h1>Welcome to Reddit</h1>


<h4>Have a question? Just ask!</h4>
<ul>
  {{#each model.posts as |post|}}
    {{post-tile post=post}}
  {{/each}}
</ul>

<div data-toggle="modal" data-target="#modal">{{new-post savePost2="savePost3"}}</div>
